body{
  margin: 0;
  background: #F1F1F1;
  font-family: Arial, Helvetica, sans-serif;
}
/*menu*/

#menu img{
  height: 45px;
  width: 45px;
  background: #880000 ;
  border-radius:50%;
  margin-left: 185px;
  margin-top: 5px;
}

#menu{
  height: 60px;
  width: 100%;
  background-color:white;
  box-shadow: 0 0 3px 0 black;
}

#head{
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}


#github{
  text-decoration: none;
  color: #756C83;
  margin-top: -32px;
  margin-left: 5px;

}
#github:hover{
  transition: 0.5s;
  color: #F38181;
}

#home{
  color: #F38181 ;
  margin-top: -32px;
  margin-left: 27%;
}

/*container*/


.container{
  padding-top:70px;
  display: flex;
  font-size: 25px;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#publicacao{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
}

.post{
  height: 545px;
  width: 355px;
  background: white;
  margin: 20px 13px;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  
}


.editlink{
  text-decoration: none;
  color: black;
  

}

.editlink:hover{
  transition: 0.5s;
  color:#F38181;
}


.cardphoto img{
  height: 320px;
  margin-top: 35px;
}

.cardphoto p{
  color: darkgrey;
  margin-left: 230px;
  margin-top: 25px;
}

.cardinfo{
  height: 100px;
  width: 320px;
  border-bottom: 1px solid darkgrey;
  margin-left: auto;
  margin-right: auto;

}

#endpost{
  margin-right: 775px;
}

/*footer*/


#endfooter{
  display: flex;
  margin: 70px 0 0 0;
  height: 55px;
  width: 100%;
  background: #756C83 ;

}

#endfooter ul{
  margin-left: 160px;
  margin-top: 3px;
}

#endfooter li{
  display: inline-block;
  margin: auto 5px;


}

#endfooter img{
  height: 45px;
}
